.completed-task-button {
	align-items: flex-end;
	font-family: var(--primary-font);
	background-color: var(--primary-color);
	border: none;
	border-radius: 15%;
	cursor: pointer;

	&:hover {
		color: black;
	}
}